* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
}

main {
    display: inline-block;

    position: relative;
}

.game-ui {
    display: flex;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 20%;
}

.timer {
    background-color: #ffcd35;

    width: 10%;
    height: 0;
    padding-top: 10%;

    flex-shrink: 0;
}

.health-bar {
    position: relative;

    width: 100%;
    height: 35%;
}

.health-bar-hp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: #ff0000;
    width: 100%;
    height: 100%;
}

.health-bar-hp.right {
    left: 0;
} 

.health-bar-bg {
    background-color: #e4e4e4;

    width: 100%;
    height: 100%;
}


